KNN  Model for Credible or Non credible clients selection

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [7]:
dataset = pd.read_csv("default of credit card clients.csv",index_col=0)
dataset.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [8]:
remove_zeros = ["X12","X13","X14","X15","X16","X17","X18","X19","X20","X21","X22","X23"]

In [9]:
for column in remove_zeros:
    dataset[column] = dataset[column].replace(0,np.NaN)
    mean = int(dataset[column].mean(skipna=True))
    dataset[column] = dataset[column].replace(np.NaN,mean)

In [10]:
dataset["X12"]

1          3913.0
2          2682.0
3         29239.0
4         46990.0
5          8617.0
           ...
29996    188948.0
29997      1683.0
29998      3565.0
29999     -1645.0
30000     47929.0
Name: X12, Length: 30000, dtype: float64

In [22]:
X = dataset.iloc[:, 0:23]
y = dataset.iloc[:, 23]

690000

In [16]:
X_train, X_test, y_train,y_test = train_test_split(X,y,random_state = 0,test_size = 0.2)

In [24]:
X_test.shape

(6000, 23)

In [17]:
sc_X = StandardScaler()
X_train  = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [25]:
classifier = KNeighborsClassifier(n_neighbors =77 ,p=2,metric='euclidean')

In [26]:
classifier.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=77)

In [27]:
y_pred = classifier.predict(X_test)
y_pred

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [28]:
cm =confusion_matrix(y_test,y_pred)
cm

array([[4495,  208],
       [ 938,  359]], dtype=int64)

In [35]:
f1 = f1_score(y_test,y_pred)
f1

0.38519313304721026

In [36]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.809